{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center h-screen">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-xs w-full space-y-4">
        <h2 class="text-2xl font-bold text-gray-800">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-2">
                <label for="id_old_password" class="block text-sm font-medium text-gray-700">Old Password</label>
                <input type="password" name="old_password" id="id_old_password" class="border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm">
            </div>
            <div class="space-y-2">
                <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
                <input type="password" name="new_password1" id="id_new_password1" class="border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm">
            </div>
            <div class="space-y-2">
                <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm New Password</label>
                <input type="password" name="new_password2" id="id_new_password2" class="border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm">
            </div>
            <br/>
            <button type="submit" class="bg-gradient-to-r from-yellow-400 to-red-500 hover:from-red-500 hover:to-yellow-400 text-white font-semibold py-2 px-4 rounded-full shadow-lg focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                Change Password <span class="ml-1">🔒</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
